pandas
numpy
pyaudio
tensorflow
SpeechRecognition
en_core_web_md-3.4.0
streamlit
python-3.10.5
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm

